<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav justify-content-end me-auto"id="menu">
            <li class="nav-item">
                <a class="nav-link" href="/#about"><b>Servicios</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#about"><b>Analisis</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#about"><b>Covid-19</b></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/#about"><b>Contactos</b></a>
            </li>
            </ul>
        </div>
        <a class="navbar-brand" href="#">
            <img src="icon" alt="lac" width="85" height="70">
            <b>Laboratorio </b>
        </a>
    </div>
    
  </nav>
  
  